<!--
	作者：ght
	时间：2016-07-04
	描述：stair navigation
-->
<include file="./Application/Home/View/Category/header.html"/>
<section class="middle-mine search-mine">
	<div>
		<ul class="order-mine-page search-page1 shousuo">
			<a href=""><li>通信 邮政 计算机 网络</li></a>
			<a href=""><li>旅游 餐饮 娱乐 休闲 购物 </li></a>
			<a href=""><li>机械设备、通用零部件</li></a>
			<a href=""><li>医疗保健 社会福利</li></a>
			<a href=""><li>电子电器 仪器仪表</li></a>
			<a href=""><li>金融 保险 证券 投资</li></a>
			<a href=""><li>交通物流 运输设备</li></a>
			<a href=""><li>城建 房产 建材 装潢</li></a>
			<a href=""><li>石油化工 橡胶塑料</li></a>
			<a href=""><li>冶金冶炼 金属及非金属制品</li></a>
			<a href=""><li>新闻 出版 科研 教育</li></a>
		</ul>
	</div>
</section>
<section class="order-menu">
	<div class="mine-img">
				<div></div>
		</div>
</section>
<include file="./Application/Home/View/Category/footer.html"/>