<!--
	作者：ght
	时间：2016-07-04
	描述：stair navigation
-->
<include file="./Application/Home/View/header.html"/>
<section class="middle-mine search-mine">
	<div>
		<ul class="search-page1" id="category-stair">
			<foreach name="level1" item="value" key="key" >
				<!--id:{$value["id"]}    <br />
				name:{$value["name"]}   <br />
				================  <br />-->
				<a><li>
					{$value["name"]}
					<p>
						<span class="list-top">直接进入</span>
						<span class="list-bottom">看看其他</span>
					</p>
				</li></a>
			</foreach>
		</ul>
	</div>
</section>
	<ul class="search-page2" id="secondary">
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
		</ul>
<div class="stair-nav" id="stair-nav">
		<div>
			<div style="float: left;">
				<h2>一级视频资料</h2>
				<div class="nav-vedio">
					<ul class="vedio-list">
						<li><img src="image/1.jpg"/></li>
						<li><img src="image/2.jpg"/></li>
						<li><img src="image/3.jpg"/></li>
						<li><img src="image/4.jpg"/></li>
						<li><img src="image/5.jpg"/></li>
					</ul>
				</div>
			</div>
			<div style="float: right;">
				<h2>一级图文资料</h2>
				<div class="nav-text">
					<ul class="text-list">
						<li>3</li>
						<li>3</li>
						<li>3</li>
						<li>3</li>
					</ul>
				</div>
			</div>
		</div>
</div>

<include file="./Application/Home/View/footer.html"/>