<!--
	作者：ght
	时间：2016-07-04
	描述：stair navigation
-->
<include file="./Application/Home/View/header.html"/>
<section class="middle-mine search-mine">
	<div>
		<ul class="search-page1" id="category-stair">
			
			<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
				<a><li>{$value["name"]}</li></a>
			</foreach>
			<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
				<a><li>{$value["name"]}</li></a>
			</foreach>
			<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
				<a><li>{$value["name"]}</li></a>
			</foreach>
			<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
				<a><li>{$value["name"]}</li></a>
			</foreach><foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
				<a><li>{$value["name"]}</li></a>
			</foreach>
		</ul>
	</div>
</section>
	<ul class="search-page2" id="secondary">
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach><foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
		</ul>
<div class="stair-nav" id="stair-nav">
		<div>
			<div style="float: left;">
				<h2>一级视频资料</h2>
				<div class="nav-vedio">
					<ul class="vedio-list">
						<li>1</li>
						<li>1</li>
						<li>1</li>
						<li>1</li>
						<li>1</li>
					</ul>
				</div>
			</div>
			<div style="float: right;">
				<h2>一级图文资料</h2>
				<div class="nav-text">
					<ul class="text-list">
						<li>3</li>
						<li>3</li>
						<li>3</li>
						<li>3</li>
					</ul>
				</div>
			</div>
		</div>
</div>

<script>
	$("#category-stair a").click(function(){
		$("#category-stair").css({"-webkit-animation":"mymove 0.4s infinite","-webkit-animation-iteration-count":"1","animation-fill-mode":"forwards"});
		//$("#category-stair").addClass("shousuo");
		$("#secondary").css({"-webkit-animation":"selectmove 0.4s infinite","-webkit-animation-iteration-count":"1","animation-fill-mode":"forwards"});
		//$("#secondary").addClass("search-page1");
	});
	$("#category-stair a").each(function(index){
		$("#category-stair a").click(function(){
			$("#category-stair a").removeClass("int");
			$(this).addClass("int");
		})
	})
</script>
<include file="./Application/Home/View/footer.html"/>