<!--
	作者：ght
	时间：2016-07-04
	描述：stair navigation
-->
<section class="middle-mine search-mine">
	<div>
		<ul class="search-page1" id="category-stair">
			<foreach name="level1" item="value" key="key" >
				<!--id:{$value["id"]}    <br />
				name:{$value["name"]}   <br />
				================  <br />-->
				<a><li>
					{$value["name"]}
					<p>
						<span class="list-top">直接进入</span>
						<span class="list-bottom">看看其他</span>
					</p>
				</li></a>
			</foreach>
		</ul>
	</div>
</section>
	<ul class="search-page2" id="secondary">
						<foreach name="level1" item="value" key="key" >
		<!--id:{$value["id"]}    <br />
		name:{$value["name"]}   <br />
		================  <br />-->
							<a><li>{$value["name"]}</li></a>
						</foreach>
		</ul>
<div class="stair-nav" id="stair-nav">
		<div>
			<div style="float: left;">
				<div class="calssify">
					<ul>
						<li>分类一</li>
						<li>分类一</li>
						<li>分类一</li>
					</ul>
				</div>
				<div class="nav-vedio">
					<div class="vedio-list">
						<ul class="vedio-list1">
							<a>
								<li>
									<img src="__VIEW__/image/1.jpg"/>
									<span class="explain">解说文字</span>
									<p><i class="hover-logo"></i></p>
								</li>
							</a>
							<a>
								<li><img src="/Application/Home/View/image/5.jpg"/><span class="explain">解说文字</span><p><i class="hover-logo"></i></p></li>
							</a>
							<a>
								<li><img src="/Application/Home/View/image/6.jpg"/><span class="explain">解说文字</span><p><i class="hover-logo"></i></p></li>
							</a>
						</ul>
						<ul class="vedio-list2">
							<a>
								<li><img src="__VIEW__/image/2.jpg"/><span class="explain">1111</span><p><i class="hover-logo"></i></p></li>
							</a>
							<a>
								<li><img src="__VIEW__/image/3.jpg"/><span class="explain">解说文字</span><p><i class="hover-logo"></i></p></li>
							</a>
							<a><li style="position: absolute;right: 0;top: 0;"><b style="margin-top: 50%;display: inline-block;border: 1px solid #999999;cursor: default;">进入视频专区</b></li></a>
						</ul>
					</div>
				</div>
			</div>
			<div style="float: right;">
				<div class="calssify">
					<ul>
						<li>分类一</li>
						<li>分类一</li>
						<li>分类一</li>
					</ul>
				</div>
				<div class="nav-text">
					<ul class="text-list">
						<li>
							<p>
								<h3>标题1</h3>
								<span>正文引言:152485451515sdfadfsafafsagfdsagdsagdsagadsgfsagdsagds阿斯顿发发的撒范德萨范德萨范德萨范德萨范德萨范德萨范德萨范德萨第三方的萨芬大范德萨范德萨发 </span>
							</p>
						</li>
						<li>
							<p>
								<h3>标题1</h3>
								<span>正文引言:152485451515sdfadfsafafsagfdsagdsagdsagadsgfsagdsagds阿斯顿发发的撒范德萨范德萨范德萨范德萨范德萨范德萨范德萨范德萨第三方的萨芬大范德萨范德萨发 </span>
							</p>
						</li>
						<li>
							<p>
								<h3>标题1</h3>
								<span>正文引言:152485451515sdfadfsafafsagfdsagdsagdsagadsgfsagdsagds阿斯顿发发的撒范德萨范德萨范德萨范德萨范德萨范德萨范德萨范德萨第三方的萨芬大范德萨范德萨发 </span>
							</p>
						</li>
						<li>
							<p>
								<h3>标题1</h3>
								<span>正文引言:152485451515sdfadfsafafsagfdsagdsagdsagadsgfsagdsagds阿斯顿发发的撒范德萨范德萨范德萨范德萨范德萨范德萨范德萨范德萨第三方的萨芬大范德萨范德萨发 </span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>