.search-mine{min-height: 500px;}
.search-page1{height: auto;font-family: -webkit-pictograph;font-size: 25px;}
.search-page1 a{color: #FFFFFF;}
.search-page1 a li{margin: 10px 5px;}
.shousuo{background: rgba(0,0,0,0.1);}
.shousuo a li{display: inline-block;}
